<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <form method="POST" action="/students/update/<%= student.id %>">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="<%= student.name %>">
        <br>
        <label for="semester">Semester:</label>
        <input type="number" id="semester" name="semester" required value="<%= student.semester %>">
        <br>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required value="<%= student.email %>">
        <br>
        <label for="phone">phone:</label>
        <input type="tel" id="phone" name="phone" required value="<%= student.phone %>">
        <br>
        <button type="submit">Update Student</button>
    </form>
    <a href="/students">Back to Student List</a>
</body>
</html>